<h2>Comment here</h2>

<%= form_for(@comments) do |f| %>
  <div class="form-group">
  
   <label>Description</label>
    <%= f.text_area :content, class: "form-control", placeholder: "description", required: true %><br/>
   <br/>
    <label>User</label>
    <%= f.select :user_id, @user_collection, { prompt: 'Select User' }, class: "form-control", required: true%>
    <br/>
     <label>Blog</label>
    <%= f.select :blog_post_id, @blog_collection, { prompt: 'Select Blog' }, class: "form-control", required: true%>
    <br/>
    <%= f.submit text: "create", class: "btn btn-dark" %>
  </div>
<% end %>



